h1 {
    color: limegreen;
}

.controllerButtonsHolder {
    width: 400px;
    height: 400px;
}

#up img {
    width: 200px;
    height: 100px;
    margin-left: 100px;
}

#right img {
    width: 100px;
    height: 200px;
    float: right;
}

#left img {
    width: 100px;
    height: 200px;
    float: left;
}

#down img {
    width: 200px;
    height: 100px;
    margin-top: 200px;
}
