h1 {
    color: limegreen;
}

.controllerButtonsHolder {
    float: left;
    width: 30%;
    height: 400px;
}

#up img {
    width: 50%;
    height: 100px;
    margin-left: 25%;
}

#right img {
    width: 25%;
    height: 200px;
    float: right;
}

#left img {
    width: 25%;
    height: 200px;
    float: left;
}

#down img {
    width: 50%;
    height: 100px;
    margin-top: 50%;
}

#connection {
  clear: both;
  margin-bottom: 30px;
}

@media (min-width: 400px) {
  .controllerButtonsHolder {
    width: 400px
  }
}

@media (max-width: 400px) {
  .controllerButtonsHolder {
    width: 100%
  }
}
